.actionCard{
    width:100%;
    background:white;

    padding:1.5rem 2rem;

    border-radius:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 8px 30px rgba(0,0,0,.05);

    margin-top:2rem;
}

.actionLeft h2{
    margin:0;
    font-size:22px;
    color:#2F3A45;
}

.actionLeft p{
    margin-top:.4rem;
    color:#7B8794;
    font-size:14px;
}

.actionBtn{
    border:none;
    padding:14px 24px;

    border-radius:14px;

    background:#A8C5DA;
    color:white;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.actionBtn:hover{
    transform:translateY(-2px);
    background:#94B6CE;
}